@import url("../../Synthetic.css");

.header ul li{ border: 1px solid black; border-radius:20px; margin:5px;}
.DanhMucActive{background-color:rgba(253, 249, 0, 0.566);}
.carousel-indicators{position: relative;}

