@import url("../../Synthetic.css");
.container {
    display: block;
}

main .content img {
    max-height: 200px;
}

main .content .row {
    margin: 20px 0 !important;
}

main .item {
    max-width: 200px;
    border: 1px solid #E0E0E0;
}



.toggle_button {
    background-color: black !important;
}

.carousel-indicators {
    bottom: auto;
}

.content .title {
    min-height: 40px;
}

