.wapper{padding:0 20px; overflow: hidden;}
h4{ border-bottom: 1px solid gainsboro; padding-bottom:10px;}
.containerSp img{ width: 100px; height: 100%;}
.edit{border: 1px solid gray; padding: 5px; ; }
.sp{justify-content: space-around; border-bottom: 1px solid gray;}

.contentInformatin{width: 200px; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}


#note{padding:20px 10px 50px 10px; margin:10px 0}